nav>ul{
    display: flex;
   }
   nav li{
    list-style: none ;
    margin-right: 5px;
    padding: 5px;
   }
   nav li:hover{
    color: azure;
    background-color: #a29a9a;
   }
   li a{
    text-decoration: none;
    color: black; 
   }

   nav ul .dropdown{
    display: none;
    position: absolute;
    background-color: lightgreen;
    padding: 1px;
   }
   nav li:hover> .dropdown{
    display: block;
   }