nav>ul{
    display: flex;
   }
   nav li{
    list-style: none ;
    margin-right: 5px;
    padding: 5px;
   }
   nav li:hover{
    color: azure;
    background-color: #e70c0c;
   }
   li a{
    text-decoration: none;
    color: black;
   }